ion-content {
  background-color: #009AFF;
  background-size: cover;
  min-height: 100%;
}

.page-header {
  color: #ffffff;
  font-family: 'Pacifico';
  text-align: center;
  font-size: 34px;
  padding-top: 16px;
  border-bottom: none;
  margin-bottom: 0px;
}

.subheader {
  font-family: 'Roboto Slab';
  text-align: center;
  color: #DCF4FF;
  font-size: 20px;
  padding: 12px;
  line-height: 24px;
  margin-bottom: 20px;
}


.button.button-dark.button-outline {
  border-bottom: 3px solid #E47D1A;
  border-top: none;
  border-left: none;
  border-right: none;
  background: #FF9100;
  color: #FFF;
  width: 100%;
  font-family: 'Roboto Slab';
  font-weight: 700;
  padding: 5px;
  font-size: 18px;
}

.button.button-dark.button-outline:hover {
  background: #FD9F22;
}

.title {
  font-family: 'Roboto Slab';
  font-weight: 700;
}

.header-image {
  height: 200px;
  width: 200px;
  max-height: 200px;
  border-radius: 250px;
  margin: 20px 0 0 0;
  display: inline-block;
  border: 9px solid #74C0FF;
  background-image:

    -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
       -o-transition: all .25s ease;
      -ms-transition: all .25s ease;
          transition: all .25s ease;

}

.header-image:hover {

    -webkit-transform: rotate(480deg);
     -moz-transform: rotate(480deg);
       -o-transform: rotate(480deg);
      -ms-transform: rotate(480deg);
          transform: rotate(480deg);
}

.overlay {
    background-color: rgba(55, 155, 55, 0.5);
    bottom: 0;
    left: 0;
    opacity: 0.5;
    position: absolute;
    right:0;
    top:0;
    z-index: 1;
}

.header-image:hover {

}

.image-section {
  text-align: center;
}

.bar-energized {
  border-bottom: 1px solid #838383;
}
